# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

In [2]:
my_float = 123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [3]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1 + my_var2)

5
5

In [ ]:
my_new_num = 123
my_new_num +=

##### Subtraction

In [5]:
num1 = 2
num2 = 5.7

result_diff = num1 - num2
print(result_diff)
print(type(result_diff))

-3.7

In [6]:
result_diff -= 3
result_diff

-6.7

##### Multiplication

In [7]:
result_prod = num1 * num2
print(result_prod)

11.4

In [8]:
result_prod *=2
print(result_prod)

22.8

##### Division

In [9]:
results_div = 4/2
print(results_div)

2.0

##### Floor Division

In [10]:
result_floor = 5 // 2
print(result_floor)

2

##### Modulo

In [11]:
result_mod = 5 % 2
print(result_mod)

1

##### Exponential

In [18]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [20]:
name = "Dak"
print(name)
name = 'Dak'
print(name)

Dak
Dak

In [31]:
word ="Dak's"
print(word)

word = 'Dak\'s'
print(word)

sentence = ' "Dak\'s jacket is sick", he said'
print(sentence)

sentence = "\"Dak's jacket is sick\", he said"
print(sentence)

Dak's
Dak's
 "Dak's jacket is sick", he said
"Dak's jacket is sick", he said

In [32]:
long = """
Hey
you! 
"Aydee" is a genius
"Dak" not so much
"""

print(long)

Hey
you!
"Aydee" is a genius
"Dak" not so much

In [33]:
line="hey \n there here is a tab \t blah blah blah new line with space"
print(line)

hey
 there here is a tab 	 blah blah blah new line with space

##### print() <br>
<p>Don't forget about end=' '</p>

In [39]:
name = "Jalen"
print("Hello", name, "The dawgs are no Good", 'Get ready to get stung!', sep=' ** ', end='' )
print("done")

Hello ** Jalen ** The dawgs are no Good ** Get ready to get stung!done

##### String Concatenation

In [41]:
first = "Grady"
last = "Dickerson"
full_name = first + " " + last
print(full_name)
full_name += " is a funny individual"
print(full_name)

Grady Dickerson
Grady Dickerson is a funny individual

##### Type Conversion

In [49]:
# int() str() list() dict() tuple() set() float()

num1 = 3
num2 = "4"

print(num1 + int(num2))
print(str(num1) + num2)

7
34

##### input()

In [51]:
age = input("What is your age? ")

print(age)
print(type(age))

What is your age? 123
123
<class 'str'>

##### format()

In [52]:
age = int(input("What is your age? "))
result_string = 'You are {} years old and you are getting wiser!'.format(age)
print(result_string)

What is your age? 12
You are 12 years old and you are getting wiser!

##### Old Way (python 2)

In [53]:
age = "35"

result_str = 'You are %s and you look good for your age!' %age
print(result_str)

You are 35 and you look good for your age!

#### f-string

In [55]:
age = int(input("What is your age? "))
x = "blah blah blah is all I hear in class today"
result_str = f"You are {age} years old and getting wiser! {x}"

print(result_str)

What is your age? 35
You are 35 years old and getting wiser! blah blah blah is all I hear in class today

In [ ]:
! - bang, exclamation point
# - pound sign, or hash
[] - brackets
() - parathesis 
{} - braces
#! - shebang
% - grapes
< - angle brackets / greater than or less than
^ carrot

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [59]:
color = input("What color is your car? ")
year = int(input("What is the year? "))
make = input("How about make? ")
model = input("Lastly, the model? ")

print(f"You have a {color} {year} {make} {model}")

What color is your car? red
What is the year? 2007
How about make? ford
Lastly, the model? fusion
You have a red 2007 ford fusion

In [60]:
5 == 5

True

In [61]:
bool(5)

True

In [62]:
bool('a string')

True

In [64]:
bool('')

False

In [65]:
bool(0)

False

In [66]:
bool([1,2,3])

True

In [67]:
bool([])

False

In [71]:
3 > 2

True

In [72]:
3 < 2

False

In [73]:
3 <= 2

False

In [74]:
3 == 2

False

In [75]:
3 != 2

True

### If Statements

In [70]:
num1 = 2
num2 = 10

if num1 != num2: #: Starting a new code block
    # the code block
    print("not equal")
else:
    print('equal')

not equal

In [76]:
num1 = 20
num2 = 2

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num2 is lesser")
else:
    print("equal")

num1 is greater

In [77]:
True and False

False

In [78]:
True and True

True

In [79]:
True or True

True

In [80]:
True or False #One thing to be true to execute True

True

In [81]:
True and False # Wants all conditions to be true

False

In [84]:
if num2 == 2 and num1 == 15:
    print('Yes')
else:
    print('no')

In [89]:
#Ternary Operator . . . inline if statements . . . must have an 'if' and an 'else'

# [value if true] [if] [boolean] [else] [value if false]

name = "john"

my_num = 5 if name == "steve" else 0
print(my_num)

my_num = 5 if name == "steve" else 10 if name == "john" else 0
print(my_num)

0
10

##### 'is' keyword

In [91]:
# only use this when asking if something is None
x = None

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [93]:
#membership checks

char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everything. . .")

The character who lost everything. . .

##### 'not in' keyword'

In [94]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print("s is not in the same. . . ")
else:
    print("The word has an S")

The word has an S

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [109]:
name = input("What is your name?")

if "p" in name.lower():
    print("Has a p")
else:
    print("Has no p")

What is your name?Bradley
Has no p

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [110]:
# 'for' [placeholder] in [iterable]
name = "Gareth"

for letter in name:
    print(f"The next letter is {letter}")
    print('another line')
print('third line')

The next letter is G
another line
The next letter is a
another line
The next letter is r
another line
The next letter is e
another line
The next letter is t
another line
The next letter is h
another line
third line

##### Using 'in' keyword

##### Continue Statement

In [154]:
name = "Gareth Atkins"

for letter in name:
    if letter == "r":
        print("The letter is R")
        continue
        
    print(f"The next letter is {letter}")
    print('another line')

The next letter is G
another line
The next letter is a
another line
The letter is R
The next letter is e
another line
The next letter is t
another line
The next letter is h
another line
The next letter is
another line
The next letter is A
another line
The next letter is t
another line
The next letter is k
another line
The next letter is i
another line
The next letter is n
another line
The next letter is s
another line

##### Break Statement

In [155]:
name = "Gareth Atkins"

for letter in name:
    if letter == "r":
        print("The letter is R")
        break
        
    print(f"The next letter is {letter}")
    print('another line')

The next letter is G
another line
The next letter is a
another line
The letter is R

##### Pass Statement

In [157]:
name = "Gareth Atkins"

for letter in name:
    pass
    
print("rest of program")

rest of program

In [159]:
foods = ['pizza', 'taco', 'dim sum', 'sushi']

In [160]:
for food in foods:
    print(food)

pizza
taco
dim sum
sushi

In [161]:
len(foods)

4

In [165]:
list(range(4))

[0, 1, 2, 3]

In [171]:
for index in [0,1,2,3]:
    print(index)
    print(foods[index])

0
pizza
1
taco
2
dim sum
3
sushi

In [173]:
x, y = (1, 2)
print(x)
print(y)

1
2

In [174]:
for index, food in enumerate(foods):
    print("at index", index, "is the food: ", food)

at index 0 is the food:  pizza
at index 1 is the food:  taco
at index 2 is the food:  dim sum
at index 3 is the food:  sushi

##### Double For Loops

In [181]:
counter = 0

for i in range(5): # The outer loop is running 5 times
    for j in range(5): # The inner loop is running 5 times
        counter+=1
        print(f"i={i} j={j} total={counter}")
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [ ]:
# while(boolean):
    # do this code block

In [183]:
num = 0
while num < 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [79]:
while True:
    print("hello")
    num =int(input("Guess the magic number"))
    if num == 5:
        break

hello

KeyboardInterrupt: Interrupted by user

In [ ]:
while True:
    user_input = input("What do you want to do? Quit or Continue?")
    if user_input.lowercase() == 'quit':
        break
    if user_input.lowercase() == 'continue':
        print("You said continue")

##### While & For Loops Used Together

In [1]:
num = 0
total = 0

while num < 5:
    print("while loop iteration ", num)
    for i in range(5):
        total += 1
        print("for loop iteration:", i)
        print("Total times inner loop ran", total)
    num += 1

while loop iteration  0
for loop iteration: 0
Total times inner loop ran 1
for loop iteration: 1
Total times inner loop ran 2
for loop iteration: 2
Total times inner loop ran 3
for loop iteration: 3
Total times inner loop ran 4
for loop iteration: 4
Total times inner loop ran 5
while loop iteration  1
for loop iteration: 0
Total times inner loop ran 6
for loop iteration: 1
Total times inner loop ran 7
for loop iteration: 2
Total times inner loop ran 8
for loop iteration: 3
Total times inner loop ran 9
for loop iteration: 4
Total times inner loop ran 10
while loop iteration  2
for loop iteration: 0
Total times inner loop ran 11
for loop iteration: 1
Total times inner loop ran 12
for loop iteration: 2
Total times inner loop ran 13
for loop iteration: 3
Total times inner loop ran 14
for loop iteration: 4
Total times inner loop ran 15
while loop iteration  3
for loop iteration: 0
Total times inner loop ran 16
for loop iteration: 1
Total times inner loop ran 17
for loop iteration: 2
Total times inner loop ran 18
for loop iteration: 3
Total times inner loop ran 19
for loop iteration: 4
Total times inner loop ran 20
while loop iteration  4
for loop iteration: 0
Total times inner loop ran 21
for loop iteration: 1
Total times inner loop ran 22
for loop iteration: 2
Total times inner loop ran 23
for loop iteration: 3
Total times inner loop ran 24
for loop iteration: 4
Total times inner loop ran 25

### Built-In Functions

##### range()

In [2]:
# range(start, stop, stop)
# range(stop)
# range(start, stop)

list(range(0,4,1))

[0, 1, 2, 3]

In [3]:
list(range(4))

[0, 1, 2, 3]

In [4]:
list(range(0,4))

[0, 1, 2, 3]

##### len()

In [5]:
len('hey')
len(str(1234))

4

##### help()

In [7]:
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [8]:
num = 1
isinstance(num, str)

False

In [9]:
isinstance(num, float)

False

In [10]:
isinstance(num, int)

True

##### abs()

In [11]:
# | -5 | = 5...The distance number from 0

print(abs(5))

5

### Try and Except

### Lists

##### Declaring Lists

In [111]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani']
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### Indexing a List

In [120]:
print(names[1])

a_list = [1, 2, 3,["a", "b", "c"], 4]
inner_list = a_list[3]
print(inner_list[1])

print(a_list[3][1])

a_list[4]
a_list[-1]

Patrick
b
b

4

In [131]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani']
print(names[::-1])

print("Alex smells!"[::-1]) # Can reverse strings with [::-1]

print(names[4::-1] # Spliting a list

my_str = "racecar"
if my_str == my_str [::-1]:
    print("It's a palindrome!")

SyntaxError: invalid syntax (2882574875.py, line 8)

##### .append()

In [130]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani']
names.append('Ramika') # Append adds to the end of the list

print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [136]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']
names.insert(2, "Sabrina")
print(names)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani']

##### .pop()

In [138]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']
new_class = []
new_class.append(names.pop())
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']


##### .remove()

In [139]:
names = ['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani']
names.remove("Sabrina")

print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### del()

In [141]:
names = ['Vanessa', 'Patrick', 'Moises', 'Armani']

del names[1]
print(names)

['Vanessa', 'Sabrina', 'Moises', 'Armani']

In [142]:
# DO NOT USE del in a 'for' loop!!

names = ['Vanessa', 'Patrick', 'Moises', 'Armani']

for i in range(len(names)):
    print(names[i])
    if i == 2:
        del names[i]
print(names)

Vanessa
Patrick
Moises

IndexError: list index out of range

##### Concatenating Two Lists

In [143]:
l1 = [1,2,3]
l2 = [4,5,6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [151]:
l2.extend(l1)

[4, 5, 6, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [44]:
cubes = []
for n in range(1, 20):
    cube = n**3
    cubes.append(cube)
    if cube >= 1000:
        break
    else:
        print(cubes)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [49]:
prime_num = []

for prime in range(2, 101): # Instructions for 'prime' to work through range 2,101
    if prime > 1:           # If 'prime' is greater than 1, then the next 'for-loop' code-block will execute
        for i in range(2, prime):    # Instructions for 'i' to work through range 2 & 'prime' that was worked
            if (prime % 1) == 0:     # If 'i' number has equal value of'prime' with remainder of 0 then next block executes
                prime_num.append(prime) # Appending the 'prime_num' list to have the 'prime' number added to the list
                print(prime_num)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [18]:
age = int(input("How old are you? "))

if age <= 17:
    print("You're a child")
elif age <= 65:
    print("I guess this means you're an adult")
else:
    print("You're way too old")

How old are you? 66
You're way too old